
:root{
    --checkerBoardSizeDesktop: 550px;
    --checkerBoardSizeTablet: 400px;
    --checkerBoardSizePhone: 300px;
}
@media only screen and (max-width: 600px) {
    .checkers-board{
        width: var(--checkerBoardSizePhone);
        height: var(--checkerBoardSizePhone);
    }
    #checkers-game-info-wrapper{
        width: calc((100% - var(--checkerBoardSizePhone))/2);
        height: var(--checkerBoardSizePhone);
    }
    #checkers-game-container{
        display: flex;
        flex-direction: column;
    }
    .game-info-player-turn-container{
        left: calc(var(--checkerBoardSizePhone) + 20px);
        margin: auto 0 auto 0;
        top: 0;
        bottom: 0;
        height: calc(var(--checkerBoardSizePhone)/8);
        width: calc(var(--checkerBoardSizePhone)/8);

    }
    .checkers-game-player-info-container{
        display: flex;
        border-radius: 10px;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}

@media only screen and (min-width: 600px) {
    .checkers-board{
        width: var(--checkerBoardSizeTablet);
        height: var(--checkerBoardSizeTablet);
    }
    #checkers-game-info-wrapper{
        width: calc((100% - var(--checkerBoardSizeTablet))/2);
        height: var(--checkerBoardSizeTablet);
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .checkers-board{
        width: var(--checkerBoardSizeDesktop);
        height: var(--checkerBoardSizeDesktop);
    }
    #checkers-game-info-wrapper{
        width: calc((100% - var(--checkerBoardSizeDesktop))/2);
        height: var(--checkerBoardSizeDesktop);
    }
}


.game-initiation-button-container{
width: fit-content;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
}

.game-initiation-button-container button{
    font-size: 1.1em;
    outline: none;
}

#create-checkers-game{
    background-color: white;
    color: var(--themeColor);
    font-weight: bolder;
}

#join-checkers-game{

}

.checkers-row{
    display: flex;
    width: fit-content;
    width: 100%;
    height: 12.5%;
}

.checkers-square{
    /* opacity: .6; */
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 12.5%;
    border: 1px solid black;

}
.checkers-row:nth-child(8n){
    /* flex-direction: row-reverse; */
}

.checkers-board{
    border: 1px solid black;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

.primary-square{
    /* background-color: red; */
}

.secondary-square:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(./../images/textures/oak-texture.jpeg) 0 0 repeat;
    background-blend-mode: lighten;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.primary-square:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(./../images/textures/cherry-texture.jpeg) 0 0 repeat;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.primary-square:nth-child(5n):before{
    transform: rotate(80deg);
}
.primary-square:nth-child(5n+1):before{
    transform: rotate(20deg);
}
.primary-square:nth-child(5n+2):before{
    transform: rotate(50deg);
}

.secondary-square:nth-child(5n):before{
    transform: rotate(80deg);
}
.secondary-square:nth-child(5n+1):before{
    transform: rotate(20deg);
}
.secondary-square:nth-child(5n+2):before{
    transform: rotate(50deg);
}


.checker{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 10;
    /* box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17); */
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(255,255,255,0.17);
    border: none;
    outline: none;
    /* opacity: 1; */
    margin: auto;
}
.primary-checker{
    background-color: black;
}

.secondary-checker{
    background-color: white;
}


.primary-square-2{
    background-color: rgba(50,100,50,.5);
}

.secondary-square-2{
    background-color: antiquewhite;
}

.toggled-tile{
    border: 2px solid red;
}


#checkers-game-container{
    position: relative;
    /* border: 1px solid black; */
    width: fit-content;
    margin: auto;
}

#checkers-game-info-wrapper{
    align-items: center;
    /* border: 1px solid black; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0 auto auto;
}

.checkers-game-player-info-container{
    border: 2px solid black;
    padding: 5px;
}


.checkers-game-info-sub-wrapper{
height: 100%;
width: 100%;
position: relative;
}

.stop-clock{
    display: flex;
    font-size: 1.4em;
}

.game-info-player-turn-container{
    position: absolute;
    background-color: lightgray;
    border: 1px solid black;
}

.game-initiation-form-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 10px auto;
}

.game-initiation-form-container input{
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    margin: 5px 0 0 0;
    border: 1px solid darkgray;
}