:root{
--searchBarHeight:42px;
}

@media only screen and (max-width: 1024px){
    #portfolio-container{
        /* flex-direction: column; */
        flex-direction: column-reverse
    }
    #portfolio-list-container{
    }
    #portfolio-container{
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    .modal-content-securities{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


#portfolio-list-container{
    display: inline-block;
}

#client-name-title{
    width: 100%;
    text-align: center;
}

#portfolio-container{
    display: flex;
    /* background-color: beige; */
}


.stock-container{
    /* width: 30%; */
    margin-top: 8px;
    margin-bottom: 8px;

    display: flex;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.company-info{
    margin: 4px 8px;
    min-width: 60%;
    display: flex;
    flex-direction: column;
}

.company-info span{
    align-items: baseline;
    display: flex;
    flex-direction: row;
}
.company-info-name{
    /* margin-left: 3px; */
}
.company-info-ticker{
    /* margin-left: 3px; */
}

#chart-container{
    background-color: burlywood;
}

.company-price-container{
    margin: 0 2% 0 auto;
    vertical-align: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#stock-search-bar{
    height: 100%;
    width: calc(100% - 1.3 * var(--searchBarHeight));
    line-height: var(--searchBarHeight);
    vertical-align: 0%;
    font-size: calc(var(--searchBarHeight) * .38);
    outline: none;
    border: none;
}

.stock-search-bar-container{
    height: var(--searchBarHeight);
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
}
#stock-search-bar-container-no-results{
    border-radius: 10px;
}
#stock-search-bar-container-with-results{
    border-radius: 10px 10px 0 0;
}
#search-icon-container {
    background: none;
    height: var(--searchBarHeight);
    width: var(--searchBarHeight);
    display: flex;
    fill: darkgray;
    border: none;
}

.stock-search-bar-container:hover svg{
    fill: var(--themeColor);
    color: var(--themeColor);
}
.stock-search-bar-container:focus-within svg{
    fill: var(--themeColor);
    /* color: var(--themeColor) */
}
#search-icon-container svg{
    margin: auto;
    transition: 1s ease-in-out;
}

#stock-search-container{
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-results-container{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: var(--searchBarHeight);
    overflow: hidden;
}

.search-result{
    width: 100%;
    /* width: calc(100% - 2 * var(--searchBarHeight)); */
    padding: calc(.1 * var(--searchBarHeight)) var(--searchBarHeight);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    opacity: .75;
}

.search-result .search-result-symbol{
    transition: .3s ease-in-out;
    width: 15%;
    color: var(--themeColor);
    /* opacity: .4; */
}
.search-result:hover{
    opacity: 1;
    background-color: whitesmoke;

}

.search-result .search-result-company-name{

}

#search-results-container-empty{
    display: none;
    border: none;
    height: 0px;
}
#search-results-container-with-results{
}

#add-to-portfolio-button{
    width: auto;
    align-self: flex-end;
    margin: auto 4% auto auto;
    display: flex;

    position: relative;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;

    text-decoration: none;
    color: #fff;
    background-color: var(--themeColor);
    text-align: center;
    letter-spacing: .5px;
    font-size: 1em;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: auto;
    line-height: 36px;
    padding: 2px 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    -webkit-appearance: button;
}
#add-to-portfolio-button i{
    font-size: 1.3rem;
    line-height: inherit;
    margin: auto auto auto 15px;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
}

.modal-content-securities{
    display: flex;
}

.modal-content-number-shares input{
    outline: none;
    border: 1px solid darkgray;
    line-height: inherit;
    font-size: inherit;
    margin-left: 4px;
    width: 3em;
}

.modal-content-number-shares {
    line-height: 1em;
}