@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
}

:root {
    --cornellRed: rgb(179, 27, 27);
    --headerMarginBottom: 16px;
    --halfwebpageWidth: 480px;
    --headerHeight: 13em;
    --coolBlue: rgb(0, 132, 255);
    --themeColor: rgba(97, 96, 255, 1);
    --desktop-nav-height: 60px;
    --mobile-nav-height: 52px;
    --footerHeight: 80px;
    --footerColor: rgba(97, 96, 255, .2);
    --hamburgerBunHeight: 4px;
    --bunSeparation: 10px;
    --themeGradient: linear-gradient(to right, var(--themeColor), #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.page {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}
@media only screen and (max-width: 1024px){
    /* Phone & tablet styles */
    .aboutme-container {
        margin: 8px auto;
    }
    #landing-page-container {
        display: flex;
        flex-direction: column;
    }
    .portrait-container {
        width: 80%;
        margin: 16px auto;
    }
    #page-content {
        padding-bottom: var(--footerHeight);
    }
}

@media only screen and (max-width: 600px) {

    .circular-portrait{
        width: 80%;
    }
    #nav-bar-desktop {
        display: none;
    }
    #logo-first-middle-last{
        display: none;
    }
    #logo-first-last{
        display: inherit;
    }
    #page-content {
        min-height: calc(100vh - var(--mobile-nav-height) - var(--headerMarginBottom))
    }

}

@media only screen and (min-width: 600px) {
    /* For tablets: */






    #logo-first-last{
        display: none;
    }

    .circular-portrait {
        width: 50%;
    }
    #nav-bar-desktop {
        display: none;
    }
    #page-content {
        min-height: calc(100vh - var(--mobile-nav-height) - var(--headerMarginBottom))
    }

}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    #page-content {
        min-height: calc(100vh - var(--desktop-nav-height) - var(--headerMarginBottom))
    }

    .navbar-container {
        height: var(--desktop-nav-height);
    }
    #nav-bar-desktop {
        display: flex;
    }

    #page-footer-navigator{
        display: none;
    }
    #nav-bar-mobile {
        display: none;
    }

    #page-content h1 {
        font-size: 2.7em;
        text-align: center;
        padding-top: 30px;

    }
    #landing-page-container {
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .portrait-container {
        height: 100%;
        width: 40%;
        /* background-color: lightgray; */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .aboutme-container {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .aboutme-container hr {
        border-top: 3px solid var(--themeColor);
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .circular-portrait {
        width: 336px;
        height: 336px;
        margin: auto auto auto auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        transition-duration: .4s;
        border: 3px solid var(--themeColor);
    }
    #landing-page-container {
        flex-direction: row;
        justify-content: center;
    }
    .portrait-container {
        margin: auto;
    }
    .aboutme-container {
        margin: auto 5% auto 0;
        text-align: center;
    }
    .portrait-container {
        width: 50%;
        margin: auto 0 auto 5%;
    }
}


#landing-page-container {
    display: flex;
}

.navbar-container {
    margin: auto;
    position: relative;
    transition: linear;
}

.navbar-logo {
    float: left;
    height: 100%;
    /* width: 300px; */
    margin-left: 3em;
    text-align: center;
}

#nav-bar-mobile {
    width: auto;
    overflow: hidden;
    height: var(--mobile-nav-height);
}

#nav-bar-mobile {
    width: auto;
    height: 100%;
    ;
}

#nav-bar-mobile ul {
    margin: auto;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

#nav-bar-mobile ul li {
    font-size: 20px;
}

.navbar-logo a {
    font-family: 'Roboto';
    /* color: #eaeaea; */
    color: var(--themeColor);
    display: block;
    margin: auto;
    text-decoration: none;
    font-size: 1.6em;
    line-height: var(--desktop-nav-height);
    font-weight: bold;
    transition-duration: .35s;
}

.navbar-logo a:hover {
    font-size: 1.7em;
}

header {
    border-bottom: solid 1.5px #bdbdbd;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.8);
    margin-bottom: var(--headerMarginBottom);

}



#nav-bar-desktop ul{
    padding-right: 2%;
    position: absolute;
    right: 0;
    display: inline;
}



nav ul li {
    /* background-color: red; */
    height: 100%;
    top: 0%;
}

nav ul li:nth-last-child(1) {
    /* margin-right: 160px;  */
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    /* line-height: 48px; */
}

nav ul li:hover {
    opacity: 1;
}

#page{
    min-width: 100vw;
    min-height: 100vh;
}

#dropdown-content .nav-bar-collapsable-column {
    display: none;
    background-color: white;
    position: absolute;
    top: 41px;
    margin: auto;
    width: 123px;
    /* transition: ease-in; */
    /* transition-duration: 1s; */
}

#dropdown-content:hover .nav-bar-collapsable-column {
    display: flex;
    flex-direction: column;
    /* transition-duration: 2s; */
}

.nav-bar-collapsable-column {
    border: 2px #6160ff solid;
}

.nav-link:hover {
    opacity: 1;
}


.nav-link:after {
    content: '';
    position: absolute;
    z-index: 0;
    display: inline;
    right: 10%;
    bottom: 5px;
    /* background: #fff; */
    opacity: 1;
    background: #6160ff;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link:active::after {
    width: 80%;
    left: 10%;
}

#page-content {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;
    position: relative;
    font-family: Arial;
    align-content: center;
    height: 100%;
}

#landing-page-container h1 {
    width: 100%;
    display: block;
}

#page-content h1 {
    text-align: center;
    /* margin: 4px; */
}


.circular-portrait {
    height: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    transition-duration: .4s;
    border: 4px solid var(--themeColor);
}

.circular-portrait::before {
    content: "";
    display: block;
    padding-top: 100%;
    background-image: url("../images/hyperloopHeadshot.JPG");
    /* background-color: aquamarine; */
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: 58%;
}

#dummy-portrait-padding {
    width: 100%;
    height: 20%;
}

.circular-portrait img {
    /* width: 100%; */
    height: 100%;
    right: 29%;
    position: relative;
}

.circular-portrait:hover {
    transform: scale(1.08);
    /* top: 15px; */
    border-width: thick;
}

.aboutme-container {
    width: 80%;
    text-align: center;
}

.aboutme-container hr {
    margin: 16px auto;
    width: 70%;
    border-top: 1px solid var(--themeColor);
}

.aboutme-container ul {
    list-style: circle;
    list-style-position: inside;
    margin-bottom: 1em;
}

.aboutme-container h3 {
    /* height: 24px; */
    /* line-height: 24px; */
    /* font-size: 24px; */
}

.aboutme-container p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

.resume {
    position: relative;
    width: 802px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    font-family: "PT Sans", Arial;
    border: solid 1.2px black;
    padding: 50px;
    box-sizing: content-box;
    border-radius: 30px;
    box-shadow: 3px 3px;
}

.resume h1 {
    padding: 0;
}

.resume a {
    color: inherit;
    text-decoration: none;
}

.resume-header {
    padding-bottom: 10px;
    /* border-bottom: solid gray 1px; */
    text-align: center;
    padding-bottom: 20px;
}

.resume-date {
    float: right;
    font-weight: 520;
}

#coursework {
    padding-top: 8px;
}

.resume-subsection h1 {
    display: inline;
    font-size: 1.3em;
    font-weight: 600;
}

.resume-subsection-body {
    margin-left: 30px;
}

.resume-subsection-body-item {
    padding-bottom: 1em;
}

.experience-entry-title {
    font-style: italic;
}

.resume-subsection-body-item ul {}

.disc-list {
    list-style-position: inside;
    margin-left: 2em;
    width: 80%;
    position: relative;
}

.disc-list ul li {
    list-style: circle;
    margin-left: 1.2em;
}

.position-description {
    font-size: .8em;
}

.arrowed-list {
    list-style: none;
    padding-left: 1em;
}

.arrowed-list li::before {
    content: "→ "
}

.indented {
    padding-left: 2em;
}

#page-footer-navigator{
    border-top: 2px solid var(--themeColor);
    background-color: var(--footerColor);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footerHeight);
    transition: background-color 1000ms linear;
    /* background: var(--themeGradient); */
}
#page-footer-navigator ul{
    top: calc(var(--footerHeight) * .2);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    align-items: center;
    align-content: center;
    list-style: none;
}

#page-footer-navigator .social-media-link{
    margin: 0px 8px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.8);
}
#page-footer-navigator .social-media-link a{
    display: inline-block;
    height: inherit;
    width: inherit;
}

#nav-bar-mobile ul li a img{
    height: 40px;
    margin-right: 16px;
}

#github-link{
    background-image: url("./../images/icons/githubLogo.svg");
    background-repeat: no-repeat;
}

#facebook-link{
    background-image: url("./../images/icons/facebookLogo.svg");
    background-repeat: no-repeat;
}

#linkedin-link{
    background-image: url("./../images/icons/linkedinLogo.svg");
    background-repeat: no-repeat;
}

#nav-bar-desktop .social-media-link{
    margin: auto 8px auto 8px;
}

.social-media-link{
    background-size: cover;
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 50%;
}
#nav-bar-desktop .social-media-link a{
    opacity: .6;
    display: inline-block;
    width: inherit;
    height: inherit;

}
#nav-bar-desktop ul {
    display: flex;
    height: var(--desktop-nav-height);
    list-style: none;
}
#nav-bar-desktop .nav-link {
    position: relative;
    white-space: nowrap;
    /* margin: auto 2% auto auto; */
    padding: 2px 20px 2px 20px;
    text-align: center;
    display: inline-block;
    font-family: 'Roboto';
    color: black;
    line-height: var(--desktop-nav-height);
    opacity: .6;
    font-weight: 300;
    font-size: 1.5em;
    text-decoration: none;
    /* background-color: red; */
}

#mobile-menu-icon-container{
    height: var(--mobile-nav-height);
    width: var(--mobile-nav-height);
    background-color: lightgray;
    position: absolute;
    left: 0;
}

.hamburger-bun{
    height: var(--hamburgerBunHeight);
    width: calc((var(--mobile-nav-height ) * .7));
    border-radius: 5px;
    background-color: black;
    position: absolute;
    margin-left: calc((var(--mobile-nav-height ) *.15));
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
}

#bun-1-collapsed{
    top: calc(calc( var(--mobile-nav-height) * .5 ) - var(--hamburgerBunHeight) * .5  - var(--bunSeparation))
}

#bun-2-collapsed{
    top: calc(calc( var(--mobile-nav-height) * .5 ) - var(--hamburgerBunHeight) * .5 )
}

#bun-3-collapsed{
    top: calc(calc( var(--mobile-nav-height) * .5 ) - var(--hamburgerBunHeight) * .5  + var(--bunSeparation))
}
#bun-1-expanded{
    top: calc(calc( var(--mobile-nav-height) * .5 ) - var(--hamburgerBunHeight) * .5);
    transform: rotate(45deg);
}

#bun-2-expanded{
    top: calc(calc( var(--mobile-nav-height) * .5 ) - var(--hamburgerBunHeight) * .5 );
    opacity: 0;
}

#bun-3-expanded{
    top: calc(calc( var(--mobile-nav-height) * .5 ) - var(--hamburgerBunHeight) * .5);
    transform: rotate(-45deg);
}
.mobile-menu-container {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
.mobile-menu-container ul{
    flex-direction: column;
}

.mobile-menu-container .nav-link{
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    padding: 10px 0px;
}

#mobile-menu-container-collapsed{
    display: none;
}

#mobile-menu-container-expanded{
    display: inherit;
}
#nav-bar-mobile-horizontal-menu{
    display: flex;
    height: var(--mobile-nav-height);
    justify-content: center;
}
#nav-bar-mobile-horizontal-menu .navbar-logo a{
    line-height: var(--mobile-nav-height);
    text-align: center;
}
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-container {
    background-color: #fefefe;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    line-height: 8px;
    top: 0px;
    font-weight: bold;
    outline: none;
    border: none;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }