
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial;
}

a {
	text-decoration: none;
	color:inherit;
 		}

.webpage{
	min-width: var(--webpageWidth);
	height: 100%;
	min-height: 60em;

}

.webpage-content-box{
	min-width: var(--webpageWidth);
	max-width: var(--webpageWidth);
	margin: 0	auto 100px auto;
	height: 100%;
}




:root {
    --cornellRed: rgb(179,27,27) ;
		--webpageWidth: 960px;
		--halfwebpageWidth: 480px;
		--headerHeight: 13em;
		--coolBlue: rgb(0,132,255);
}




.header-main{
	border-bottom: 2px solid gray;
	height: var(--headerHeight);
	max-width: 60em;
	background-color: var(--coolBlue);
	position: relative;
	width: 100%;
	box-shadow: -6px 6px 6px -2px rgba(128,128,128,.5);

	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 0px 0px 25px 25px;
	/* max-width: 1272px; */
	margin: 0 auto;
}

#cornellBranding{
	position: relative;
	display: flex;
	width: 21em;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

#cornellBranding a img{
	width: 100%;
	height: auto;
}

#cornellBranding a:first-child{
	width: 24%;
	margin-right: .5em;
}
#cornellBranding a:last-child{

	border-left: 2px solid white;
	padding-left: .5em;
	width: 85%;
}

.footer{
	box-shadow: 2px;
	position: relative;
	background-color: var(--coolBlue);
	bottom: 0%;
	height: 10em;
	max-height: 10em;
	width: 100%;
	text-align: center;
	align-content: center;
	color: white;
	font-size: 1.5em;
	max-z
}


.my-logo{
	font-size: 3em;
	box-sizing: content-box;
	position: relative;
	height: 1em;
	width: auto;
	font-weight: 600;

	line-height: 1em;
	text-align: center;
	color: white;

	margin: auto;
	top: 13%;

}

#navigation-bar{
	position: relative;
	top: 3em;
	margin: auto;
	height: 5em;
	width: 36em;
	display: flex;
}

.button{
	position: relative;
	background-color: white;
	width: auto;
	padding: .5em .7em .5em .7em;
	font-size: 1.5em;
	font-weight: 600;
	margin: auto;

	display: inline-block;

	-webkit-border-radius: 25px;


	box-shadow:
		 0px 1.33px rgba(128,128,128,1),
		 0px 2.66px rgba(118,118,118,1),
		 0px 4px rgba(108,108,108,1),
		 0px 5.33px rgba(98,98,98,1),
		 0px 6.66px rgba(88,88,88,1),
		 0px 8px rgba(78,78,78,1),
		 0px 10px 6px -1px rgba(128,128,128,1);

	transition: .2s ease-in;
}

.button:active {
        transform: translate(0, 3px); /* depth of button press */
}

.button:active {
		box-shadow:
    0px .83px rgba(128,128,128,1),
    0px 1.66px rgba(118,118,118,1),
    0px 2.5px rgba(108,108,108,1),
    0px 3.33px rgba(98,98,98,1),
    0px 4.16px rgba(88,88,88,1),
		0px 5px rgba(78,78,78,1),
    0px 6px 6px -1px rgba(128,128,128,.6);
				        }

.button:hover {
	transform: translate(0, 2px); /* depth of button press */
}

.button:hover {
	box-shadow:
	0px 1.16px rgba(128,128,128,1),
	0px 2.33px rgba(118,118,118,1),
	0px 3.5px rgba(108,108,108,1),
	0px 4.66px rgba(98,98,98,1),
	0px 5.83px rgba(88,88,88,1),
	0px 7px rgba(78,78,78,1),
	0px 9.5px 6px -1px rgba(128,128,128,1);
}

.page-title-container{
	position: relative;
	height: 7em;
	line-height: 4em;
	text-align: center;
	width: 100%;
	max-width: 1272px;
	font-size: 2em;
	font-family: Arial;
}

.title-background-image{
	position: absolute;
	z-index: -555;
	overflow: hidden;
	height: 22em;
	width: 100%;

	top: 0%;

}

.title-background-image img {
	display: flex;
	z-index: inherit;
	opacity: .75;

	height: 100%;
	width: 100%;
	max-width: 90%;
	margin: 0 auto 0 auto;
	border: 2px solid gray;
	border-radius: 0px 0px 25px 25px;
}

.gallery-container{
	position: relative;
	width: 87%;
	margin: 0 auto 0 auto;
	height: auto;
	background-color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}


.gallery-tile-portrait{
	width: 25%;
	height: auto;
	align-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	display: flex;
	overflow: hidden;
}

.gallery-tile-landscape{
	width: 50%;
	height: auto;
	align-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.gallery-tile-image{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.gallery-tile-portrait img{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: auto;
}

.gallery-tile-description{
	visibility: hidden;
	font-family: 'PT Sans';
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	opacity: .6;
	text-align: center;
}

.gallery-tile-portrait:hover figcaption{
	visibility: visible;
}

.gallery-tile-landscape:hover figcaption{
	visibility: visible;
}

.gallery-tile figcaption{
	visibility: hidden;
}

.gallery-tile-description-title{
	position: relative;
	top: 22%;
	font-size: 2em;
}

.gallery-tile-description-caption{
	position: relative;
	font-size: 1.3em;
	top: 23%;
	height: 70%;
	overflow-y: auto;
}


#social-media-bar{
	top: 1.6em;
	right: 2em;
	width: auto;
	height: auto;
	display: flex;
	text-decoration: none;
	list-style-type: none;
	position: absolute;
	justify-content: center;
	align-items: center;
	/* background-color: lightgray; */
}

#social-media-bar a{
	box-sizing: content-box;
	width: 3em;
	height: 3em;
	margin: .5em;
	position: relative;
	justify-content: center;
	align-items: center;
}

#social-media-bar a img{
	box-sizing: content-box;

	width: 3em;
	height: 3em;


	border-radius: 1em;
	opacity: .4;

}

#social-media-bar a img:hover{
	opacity: .8;
}


.coursework-container{
	height: auto;
	width: 100%;
	/* background-color: lightgray; */
	/* font-family: Verdana; */
}
.coursework-container h2{
	font-size: 2em;
	margin-bottom: 1em;
}

.engineering-major-flowchart-container{
	display: flex;
	flex-wrap: wrap;
	/* font-family: Verdana; */
}

.engineering-major-flowchart-affiliation-requirements h4{
	font-weight: lighter;
	margin: 1em auto 1em 0em;
	width: 75%;
	/* font-family: 'PT Sans'; */

}

.engineering-major-fouryear-container{
	width: 100%;
	margin: auto auto 1em auto;
	display: flex;
	/* font-family: 'PT Sans'; */

}

.engineering-major-semester-container{
	margin: auto .25em auto .25em;
	height: auto;
	width: 12.5%;
	display: flex;
	flex-direction: column;
	/* background-color: red; */
	/* font-family: 'PT Sans'; */
	font-size: 1.1em;
	text-align: center;
}

.engineering-major-flowchart-course-box{
	border: solid .5px black;
	border-radius: 5px;
	word-wrap: normal;
	width: 100%;
	height: 3em;
	/* background-color: white; */
	margin: 10px auto 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-family: Verdana; */
}

#incomplete-class{
	background-color: none;
	opacity: .4;
}

#incomplete-class:hover{
	background-color: none;
	opacity: .7;
}

#complete-class{
	background-color: #1ac34c;

}

#current-class{
	background-color: #fcff27;
}

#Microeconomics:hover{
	content: none;
	text
}

.course-label{
	margin: auto;
	width: 100%;
	height: auto;
	max-height: 3em;
	font-size: 1em;
	line-height: 1em;
}

.engineering-major-flowchart-course-box:hover .original-course-name{
	display: none;
	transition: 2s ease-in;
}

.engineering-major-flowchart-course-box:hover .alternate-course-name{
	display: inherit;
	transition: 2s ease-in;
}

.engineering-major-flowchart-course-box .alternate-course-name{
	display: none;
}



.resume{
	position: relative;
	width: 802px;
	height: auto;
	margin: auto;
	margin-top: 30px;
	font-family: "Segoe UI";
	border: solid 1.2px black;
	padding: 50px;
	box-sizing: content-box;
	border-radius: 30px;
	box-shadow: 3px 3px;


}

.resume-header{
	padding-bottom: 10px;
	border-bottom: solid gray 1px;
}
.resume-date{
	float: right;
	font-weight: 520;
}

.resume-subsection h1{
	display: inline;
	font-size: 1.2em;
	font-weight: 600;
}
.resume-subsection-body{
	margin-left: 30px;
}

.resume-subsection-body-item{
	padding-bottom: 1em;
}
.experience-entry-title{
	font-style: italic;
}


.resume-subsection-body-item ul{

	list-style-position: inside;
	margin-left: 2em;
}

.disc-list ul{
	list-style: circle;
	margin-left: 2em;
	list-style-position: inside;
}


.arrowed-list{
	list-style: none;
	padding-left: 1em;
}
.arrowed-list li::before{
	content: "→ "
}

.indented{
	padding-left: 2em;
}

















.embeddedresume{
	position: absolute;
	top: 15em;
	width: 802px;
	/* height: 1038px; */
height: 920px;
	margin-bottom: 100px;
}

.iframe{
	width: 100%;
	height: 100%;
}
