@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

:root {
	--cellularMaxWidth: 425px;
	--tabletMaxWidth: 1024px;
}
a {
	display: inline-block;
}

#page-content {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.horizontal-centered {
	margin-left: auto;
	margin-right: auto;
}

.text-centered {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

#page-content {
	min-width: 320px;
}

.gray-text {
	color: #484848;
}
