:root{
 --carousel-icon-height: 90px;
 --carousel-item-width-mult: 1.3;
 --carousel-item-width: calc(var(--carousel-icon-height) * var(--carousel-item-width-mult));
 --standard-mobile-padding: 8px;
}

.google-maps-background-container{
 width: 100%;
 height: 330px;
 /* overflow: hidden; */
 position: relative;
 /* background-color: khaki ; */
}

#google-maps-background{
 height: 330px;
 z-index: -1;
 margin-left: auto ;
 margin-right: auto ;
 display: inherit;
}

.google-maps-background-wrapper{
 width: 100%;
 height: 330px;
 max-width: 766px;
 overflow: hidden;
 margin-left: auto;
 margin-right: auto;
 position: absolute;
 left: 0;
 right: 0;

}



.headshot{
 border-radius: 50%;
 left: 0;
 right: 0;
 height: 200px;
 width: 200px;
 z-index: 2;
 margin-left: auto;
 margin-right: auto;
 position: absolute;
 align-items: center;
 overflow: hidden;
 top: 50px;
 background: #C4C4C4;
 box-shadow: 0px 15px 25px rgba(9, 9, 9, 0.41);
}

.headshot img{
 position: absolute;
 height: 120%;
 left: -89px;
}

#biography{
 max-width: 260px;
 margin-left: auto;
 padding: 32px 0px;
 text-align: center;
}

#work-carousel{
 overflow-x: scroll;
 display: flex;
 flex-direction: row;
 scroll-snap-type: x mandatory ;
 margin: 0 auto;
}

.work-carousel-item{
 scroll-snap-align: start;
 display: flex;
 flex-direction: column;
 width: var(--carousel-item-width);
 padding: calc(var(--carousel-icon-height) * .3 * .5);
 box-sizing: border-box;
}

.work-carousel-item-image{
 height: var(--carousel-icon-height);
 width: var(--carousel-icon-height);
 box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.41);
 border-radius: 18px;

}

.work-carousel-item-image a img{
 height: var(--carousel-icon-height);
 width: var(--carousel-icon-height);
 box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.41);
 border-radius: 18px;
}

.work-carousel-item-label{
 width: var(--carousel-icon-height);
 margin: 8px auto;
}

#resume{
 max-width: 520px;
 
}

#education{
 display: inline-block;
 width: 100%;
 margin-bottom: calc(var(--standard-mobile-padding)*2);
}

#cornell-seal, #cornell-seal img{
 height: calc(.8*var(--carousel-icon-height));
 width:  calc(.8*var(--carousel-icon-height));;
}

#degree-information{
 margin: auto 0 auto 12px;
}

.upper-education-container{
 width: 100%;
 display: flex;
 flex-direction: row;
 margin-bottom: calc(var(--standard-mobile-padding)*2);
}

#education p{
 font-size: .8em;
 text-align: justify;
 color: #484848;
}